body, html {
    border: 0;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    background-image: url(../assets/tree.png);
    background-size: 85%;
    background-color: rgb(48, 55, 82);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    
}

main {
    display: flex;
    flex-direction: row;
    padding: 20px;
}

footer {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 2%;
    margin-left: 80%;
    color: gainsboro;
    border: gainsboro 1px solid;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: lighter;
}  

footer p {
    padding: 0;
    margin: 5px;
}

.key {
    display: flex;
    flex-direction: row;
}

.key-hp {
    color: yellow;
    border: yellow 1px solid;
    margin-right: 5px;

}

.key-strength {
    color: rgb(245, 29, 29);
    border: rgb(245, 29, 29) 1px solid;
    margin-right: 5px;
}

.key-agility {
    color: rgb(29, 195, 245);
    border: rgb(29, 195, 245) 1px solid;
    margin-right: 5px;
}

.key-dexterity {
    color: rgb(255, 126, 244);
    border: rgb(255, 126, 244) 1px solid;
    margin-right: 5px;
}

.dog-side {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.dog img {
    width: 16%;
    height: auto;
    position: absolute;
    bottom: 2%;
    opacity: .96;
    margin-left: 10%;   
}

.player-data {
    color: gainsboro;
    font-family: sans-serif;
    text-transform: uppercase;
    font-weight: lighter;
    font-size: 25px;
}

#dog-hp {
    color: yellow;
    font-size: 35px;
    font-weight: bold;
    padding: 3px;
    margin: 3px;
}

#dog-strength {
    color: rgb(245, 29, 29);
    font-size: 35px;
    font-weight: bold;
    padding: 3px;
    margin: 3px;
}

#defeated-number {
    font-size: 35px;
    font-weight: bold;
} 

.ghost-side {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: right;
}

form {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-top: 20px;
}

.ghost-side button {
    background-color: rgb(48, 55, 82);
    color: yellow;
    border: yellow 1px solid;
    padding: 5px;
    font-family: sans-serif;
    text-transform: uppercase;
    font-weight: lighter;
}

.ghost-side input {
    background-color: rgb(48, 55, 82);
    color: gainsboro;
    border: gainsboro 1px solid;
    padding: 5px;
    margin-right: 5px;
}

.ghost-img {
    width: 80%;
    height: auto;
    cursor: pointer;
    opacity: .8;
}

.ghost-div {
    color: gainsboro;
    font-family: cursive;
    font-size: 16px;
    display: inline-flex;
    width: 40%;
    padding: 40px;
    margin-top: 20px;
}

.data-div p {
    padding: 0;
    margin: 1px;
}

.colored-squares-div {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin-right: 5px;
}

.ghost-hp {
    color: yellow;
    border: yellow 1px solid;
    width: fit-content;
    height: fit-content;
    margin-right: 5px;
}

.ghost-strength {
    color: rgb(245, 29, 29);
    border: rgb(245, 29, 29) 1px solid;
    width: fit-content;
    height: fit-content;
    margin-right: 5px;
}

.ghost-agility {
    color: rgb(29, 195, 245);
    border: rgb(29, 195, 245) 1px solid;
    width: fit-content;
    height: fit-content;
    margin-right: 5px;
}

.ghost-dexterity {
    color: rgb(255, 126, 244);
    border: rgb(255, 126, 244) 1px solid;
    width: fit-content;
    height: fit-content;
    margin-right: 5px;
}

.ghost-name {
    width: fit-content;
    height: fit-content;
    padding: 0;
    margin: 0;
}

.game-over {
    margin-bottom: 80px;
}