body, html {
    border: 0;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    background-image: url(../assets/tree.png);
    background-size: 85%;
    background-color: rgb(48, 55, 82);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    
}

main {
    display: flex;
    flex-direction: row;
    padding: 20px;
}

.dog-side {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.dog img {
    width: 16%;
    height: auto;
    position: absolute;
    bottom: 2%;
    opacity: .96;
    margin-left: 10%;
    
}

.player-data {
    color: gainsboro;
    font-family: sans-serif;
    text-transform: uppercase;
    font-weight: lighter;
}

#defeated-number, #dog-hp {
    color: yellow;
    border: yellow .5px solid;
    padding: 3px;
    margin: 3px;
}

.ghost-side {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: right;
}

form {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.ghost-side button {
    background-color: rgb(48, 55, 82);
    color: yellow;
    border: yellow 1px solid;
    padding: 5px;
    font-family: sans-serif;
    text-transform: uppercase;
    font-weight: lighter;
}

.ghost-side input {
    background-color: rgb(48, 55, 82);
    color: gainsboro;
    border: gainsboro 1px solid;
    padding: 5px;
    margin-right: 5px;
}

.ghost-img {
    width: 17%;
    height: auto;
    cursor: pointer;
}

.ghost-div {
    color: gainsboro;
    font-family: cursive;
    font-size: 16px;
    display: inline-flex;
}

.ghost-hp {
    color: yellow;
    border: yellow 1px solid;
    width: fit-content;
    height: fit-content;
}

.ghost-name {
    width: fit-content;
    height: fit-content;
  
}